---
---
@import "_color";
@import "_responsive";
@import "_navbar";

body {
	font-family: 'Cabin', sans-serif;
	background: var(--grey);
}

.container {
	min-height: 100vh;
	background: #fff;
}

.home {
	&-header {
		height: 300px;
		background-color: var(--dark);
		@include linearGradient(to right, var(--dark), var(--grey), var(--dark));

		color: var(--text-light);

		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		h1 {
			font-size: 4rem;
			font-family: 'Lora', serif;
			margin: 0;
		}
		p {
			margin: 2px;
			text-align: center;
			font-size: 1.25em;
		}
	}

	&-post {
		text-decoration: none;
		color: inherit;
		margin-bottom: 1em;
		padding-bottom: 0.5em;
		border-bottom: 2px solid var(--light); 

		display: block;

		&:nth-child(2n) {
			text-align: right;
			.col-4 {
				float: right;
			}
			.home-post-category {
				flex-flow: row-reverse;
			}
		}

		&-title {
			font-size: 1.5em;
			font-weight: bold;
		}
		&-date, &-author {
			color: var(--text-fade);
		}
		&-category {
			display: flex;
			flex-flow: row;
			li {
				margin: 5px;
				list-style: none;
				padding: 5px 10px;
				background: var(--grey);
				color: var(--text-light);
			}
		}
		
		&-summary {
			margin-top: 5px;
		}

		&-img {
			height: 100%;
			max-height: 200px;
			overflow: hidden;

			align-items: center;
			display: flex;
		}
	}
}

.category-details {
	&.hide {
		display: none;
	}
}