---
---
@import "_color";
@import "_responsive";
@import "_navbar";
@import "_img_popup";

body {
	font-family: 'Cabin', sans-serif;
	background: var(--grey);
}

.container {
	background-color: #fff;
	padding: 2em;
}

.post {
	&-header {
		min-height: 300px;
		background-color: var(--dark);
		@include linearGradient(to right, var(--dark), var(--grey), var(--dark));
		color: var(--light);

		display: flex;
		justify-content: center;
		align-items: center;

		text-align: center;
		padding: 1em;
	}

	&-headimg {
		img {
			width: 100%;
			margin: auto;
		}

		max-height: 300px;
		overflow: hidden;

		margin: -1em;
		margin-bottom: 1em;
	}

	&-title {
		font-size: 2.5em;
		color: var(--text-light);
	}

	&-date {
		color: var(--text-faded);
	}
	&-author {
		color: var(--text-faded);
	}

	&-content {
		font-size: 20px;
		margin: 1em 0;

		line-height: 2em;
		text-align: justify;

		h1, h2, h3 {
			font-family: 'Lora', serif;
		}

		ul, ol {
			padding-left: 1em;
		}

		.code > pre, code, .rouge-table {
			font-size: inherit;
			font-family: 'Fira Code', consolas, monospace;
		}
		.highlight > pre {
			overflow: auto;
			padding: 1em;
			font-size: 0.75em;
			
			line-height: 1.25;
			tab-size: 4;
		}
		.highlight .lineno {
			color: #ccc;
			font-family: 'Fira Code', consolas, monospace;
		}

		blockquote {
			background: #ccc;
		}

		img {
			display: block;
			max-width: 90%;
			margin: 0 auto;
		}

		@media screen and (max-width: 768px) {
			font-size: 16px;
		}
		@media screen and (max-width: 480px) {
			font-size: 14px;
			img {
				max-width: 100%;
			}
		}
	}

	&-category, &-tag {
		ul {
			padding: 0;
		}
		li {
			display: inline-block;
			list-style: none;
		}
		a {
			padding: 5px 0.5em;
			border-radius: 5px;
			text-decoration: none;
			color: var(--text-light);
			background: var(--dark);
		}
	}

	&-related {
		display: block;
		position: relative;
		overflow: auto;

		&:hover {
			.prev, .next {
				opacity: 1;
			}
		}

		.prev, .next {
			content: "<";
			font-size: 2rem;
			color: var(--text-light);
			opacity: 0;
			transition: 0.5s;

			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			background: #000;
			padding: 1rem;

			@media screen and (max-width: 768px) {
				opacity: 0.6;
			}
		}
		.next {
			content: ">";
			left: unset;
			right: 0;
		}

		.post-row-list {
			overflow: hidden;
			.list {
				float: left;
				transition: 0.5s;
			}
		}

		.post {
			display: inline-block;
			width: 300px;
			text-decoration: none;

			&-head {
				position: relative;
				max-height: 300px;
				overflow: hidden;

				.post {
					&-img {
						&:after {
							content: "";
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							@include linearGradient(to top, #000, rgba(0,0,0,0.4));
						}

						img {
							width: 100%;
						}
					}

					&-title {
						position: absolute;
						left: 0;
						bottom: 0;
						width: 100%;
						color: var(--text-light);
						font-weight: bold;
						text-shadow: 0px 2px 2px #000;
					}
				}
			}

			

			&-title {
				font-size: 1.5em;
				padding: 1rem;
				color: var(--text-dark);
			}
			&-img {
				width: 100%;
				max-height: 200px;
				overflow: hidden;
				img {
					width: 100%;
				}
			}
		}
	}
}