body {
    width: 300px;
    height: 400px;
    margin: 0;
}

.flexbox {
    display: flex;
    flex-flow: wrap;
    max-height: 100%;
}
.flexitem {
    margin: auto;
}

textarea {
    width: 200px;
    height: 1.5em;
    line-height: 1.5em;
    padding: 0 1.5em;
    background-size: 1em 1em;
    background-repeat: no-repeat;
    background-position: 0.25em center;
    background-image: url("http://findicons.com/files/icons/949/token/256/search.png");
}
#search-bar {
    width: 100%;
    height: 50px;
}
#content {
    width: 100%;
    overflow: auto;
}

.profile {
    padding: 5px;
    border-bottom: 1px solid #ccc;
    transition: 0.2s;
}
.profile:hover {
    background: #ccc;
}
.profile a {
    display: inline-flex;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
}
.profile-img {
    width: 60px;
    height: 60px;
    margin: 0;
}
.verify-true {
    width: 1.5em;
    height: 1.5em;
    margin-right: 0;
    background-size: cover;
    background-image: url("https://cdn4.iconfinder.com/data/icons/user-needs-13/26/46_right_true_verify_perfect_trust-128.png");
}
.profile-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.profile-name {
    font-size: 1.5em;
    color: #00f;
}
