@import url('https://fonts.googleapis.com/css?family=Lora|Ubuntu&subset=vietnamese');
@fontSans: "Ubuntu", sans-serif;
@fontSerif: "Lora", serif;

@accent01: #854442;
@accent02: #be9b7b;
@accent03: #3c2f2f;
@accent04: #fff4e6;
@accent05: #4b3832;