@import url('https://fonts.googleapis.com/css?family=Lora|Roboto&subset=vietnamese');

@fontSans: "Roboto", sans-serif;
@fontSerif: "Lora", serif;
@primaryColor: #c44;
@secondaryColor: #ddd;
@textColor0: #000;
@textColor1: #ddd;

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-size: 18px;
	font-family: @fontSans;
	background-color: @secondaryColor;
	color: @textColor0;
	width: 100vw;
}

#navbar {
	background-color: @primaryColor;
	color: @textColor1;
	display: flex;
	flex-flow: row;
	justify-content: center;
	width: 100%;
	> * {
		margin: auto;
	}
	padding: 1em;
}
.nav {
	position: absolute;
	background-position: 35% 80%;
	height: 300px;
	top: 0;
	left: 0;
	z-index: 3;
}
.nav-fixed {
	position: fixed;
	top: -300px;
	background-position: 35% 40%;
	.basic-info {
		.contact {
			display: none;
		}
	}
}

.basic-info {
	position: relative;
	width: 100%;
	.image {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-100%, -50%);
		width: 200px;
		height: 200px;
		overflow: hidden;
		opacity: 0.5;
		border-radius: 50%;
		img {
			width: 100%;
		}
	}
	.float {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateY(-50%);
	}
	.name {
		font-size: 2em;
		font-weight: bold;
		text-shadow: 0px 3px 3px #000;
	}
	.bio {
		font-family: @fontSerif;
		font-size: 1.5em;
	}
	.contact {
		a {
			display: inline-block;
			margin: 0.5em;
			transition: 0.5s;
			&:hover {
				transform: translateY(0.5em);
			}
			i {
				font-size: 3em;
				color: @textColor1;
			}
		}
	}
}

#content {
	text-align: left;
	width: 1000px;
	margin: 300px auto 0 auto;
	background-color: #fff;
	z-index: 1;
	box-shadow: 0px 0px 15px rgba(0,0,0,.5);
}

.info {
	position: relative;
	margin: 1em 0;
	&-name {
		position: absolute;
		width: 1000px;
		height: 2em;
		line-height: 2em;
		background-color: @primaryColor/2;
		color: @textColor1;
		padding-left: 1em;
		font-size: 1.5em;
		font-family: @fontSerif;
		&-fixed {
			position: fixed;
			top: 0;
		}
	}
	&-content {
		padding: 1em 3em;
		padding-top: 50px;
		text-align: justify;
		font-family: @fontSans;
		display: flex;
		flex-flow: wrap;

		min-height: 60vh;
		> * {
			margin: auto;
		}
	}
}

.fix {
	display: inline-block;
	width: 100%;
	height: 100%;
}

#about {
	p:first-letter {
		font-family: @fontSerif;
		font-size: 2em;
	}
	p {
		text-indent: 2em;
	}
}

@media only screen and (max-width: 1000px) {
	#content, .info-name {
		width: 768px;
	}
}
@media (max-width: 768px) {
	#content, .info-name {
		width: 100%;
	}
	.basic-info .float {
		left: 15px;
	}
	.info-name {
		font-size: 1em;
	}
	.info-content {
		min-height: 100vh;
	}
}

.icon {
	display: inline-block;
	vertical-align: middle;
	width: 2em;
	height: 2em;
	background-size: 100%;
	&-fb {
		background-image: url("image/fb.png");
	}
	&-linkedin {
		background-image: url("image/linkedin.png");
	}
	&-github {
		background-image: url("image/github.svg");
	}
	&-info {
		background-image: url("image/info_icon.png");
	}
	&-code {
		background-image: url("image/code_icon.png");
	}
	&-education {
		background-image: url("image/education_icon.png");
	}
	&-personal {
		background-image: url("image/personal_icon.png");
	}
}