@import "cv_color.less";

@infoNameBorderX: 17px;
@infoNameBorderY: 27px;

@headerSize: 500px;
@scrollWidth: 10px;

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	// padding-right: @scrollWidth;
	font-size: 18px;
	font-family: @fontSans;
	background-color: @accent02;
	color: @accent03;
	// width: 100vw;
}

#navbar {
	background-color: @accent01;

	// background-image: url("image/background.png");
	// background-size: cover;
	// background-blend-mode: overlay;
	// background-attachment: fixed;
	// background-position: 0 0;
	// background-repeat: repeat-x;

	color: @accent04;
	display: flex;
	flex-flow: row;
	justify-content: center;
	width: 100%;
	> * {
		margin: auto;
	}
	padding: 1em;
}
.nav {
	position: absolute;
	background-position: 35% 80%;
	height: @headerSize;
	top: 0;
	left: 0;
	z-index: 3;
}

.basic-info {
	position: relative;
	width: 100%;
	.image {
		// display: none;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: @headerSize;
		width: 100vw;
		// overflow: hidden;
		-webkit-filter: brightness(70%);
		filter: contrast(120%);

		background-color: @accent01;
		background-image: url("image/header-min.jpg");
		background-size: cover;
		// background-attachment: fixed;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: linear-gradient(to left, @accent01/3, @accent01, @accent01/3);
			opacity: 0.47;
		}
	}
	.float {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-100%, -50%);
	}
	.name {
		font-size: 2.5em;
		font-weight: bold;
		text-shadow: 0px calc(1em / 10) 0px @accent02,
					0px calc(1em / 20) 0px @accent02;
	}
	.bio {
		font-family: @fontSerif;
		font-size: 1.25em;
		margin: 0.5em 0;
		color: @accent02;
	}
	.contact {
		a {
			display: inline-block;
			margin: 1em;
			transition: 0.5s;
			&:hover {
				transform: translateY(0.5em);
			}
			i {
				font-size: 5em;
				color: @accent04;
			}
		}
	}
}

#content {
	text-align: left;
	width: 1000px;
	margin: 0 auto;
	margin-top: @headerSize;
	z-index: 1;
}

.info {
	position: relative;
	margin: 1em 0;
	&-name {
		// width: 100%;
		height: 2em;
		line-height: 2em;
		background-color: @accent05;
		color: @accent04;
		padding-left: 1em;
		font-size: 1.5em;
		font-family: @fontSerif;
		box-shadow: 0px 10px 20px -8px rgba(0, 0, 0, 0.7);
		&:before, &:after {
			content: "";
			position: absolute;
			box-sizing: border-box;
			width: @infoNameBorderX;
			height: @infoNameBorderY;
			border: 0 solid transparent;
			top: 100%;
			overflow: hidden;

			left: 0;
			border-width: 0 @infoNameBorderX @infoNameBorderY 0;
			border-left-color: transparent;
			border-right-color: @accent05/2;
		}
		&:after {
			left: inherit;
			right: 0;
			border-width: 0 0 @infoNameBorderY @infoNameBorderX;
			border-right-color: transparent;
			border-left-color: @accent05/2;
		}
	}
	&-content {
		padding: 1em 3em;
		padding-top: 50px;
		text-align: justify;
		font-family: @fontSans;
		display: flex;
		flex-flow: row wrap;
		background: @accent04;
		margin: 0 @infoNameBorderX;
		text-align: justify;

		min-height: 80vh;
		> * {
			margin: auto;
		}
	}
}

.fix {
	display: inline-block;
	width: 100%;
	height: 100%;
}

#about {
	p:first-child:first-letter {
		font-family: @fontSerif;
		font-size: 2em;
	}
	p {
		text-indent: 1.5em;
		line-height: 1.5;
	}
}

@media only screen and (max-width: 1000px) {
	#content {
		width: 768px;
	}
}
@media (max-width: 768px) {
	body {
		font-size: 16px;
	}
	#content {
		width: 100%;
	}
	.basic-info .float {
		left: 15px;
		transform: none;
	}
	.info-name {
		font-size: 1em;
	}
	.info-content {
		min-height: 60vh;
		padding: 1em 0.5em;
	}
}

.icon {
	display: inline-block;
	vertical-align: middle;
	width: 2em;
	height: 2em;
	background-size: 100%;
	&-fb {
		background-image: url("image/fb.png");
	}
	&-linkedin {
		background-image: url("image/linkedin.png");
	}
	&-github {
		background-image: url("image/github.svg");
	}
	&-info {
		background-image: url("image/info_icon.png");
	}
	&-code {
		background-image: url("image/code_icon.png");
	}
	&-education {
		background-image: url("image/education_icon.png");
	}
	&-personal {
		background-image: url("image/personal_icon.png");
	}
}

@media (min-width: 640px) {
::-webkit-scrollbar {
	width: @scrollWidth;
	height: @scrollWidth;
	background: transparent;
	&-corner {
		background: transparent;
	}
}
::-webkit-scrollbar-track {
	display: none;
}
::-webkit-scrollbar-thumb:vertical {
	background: linear-gradient(
	                to top,
	                (@accent01) 9%,
	                (@accent05) 50%,
	                (@accent01) 91%);
	border-radius: 5px;
}
::-webkit-scrollbar-thumb:horizontal {
	background: linear-gradient(
	                to left,
	                (@accent01) 9%,
	                (@accent05) 50%,
	                (@accent01) 91%);
	border-radius: 5px;
}
}


.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}
