.skill-display {
	color: #005;
	display: block;
	margin: auto;

	transition: 0.5s;
}

.skill-mem {
	background-color: #EEEEEE;
	display: block;
	vertical-align: middle;
	height: 100%;
	text-align: left;
	font-size: 15px;
	border: 5px solid #ccc;
	padding: 15px;
}
.skill-display:hover {
	background-color: #fff;
}
.skill-display:hover .skill-sub {
	font-weight: bold;
}
.skill-mem h3 {
	color: #115;
	text-align: center;
}

.skill-display div {
	display: inline-block;
	height: 1em;
	transition: 0.5s;
}

.skill-sub {
	font-size: 14px;
	color: #333;
	transition: 0.5s;
}
