body {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #115;
	background-image: linear-gradient(to right, #001, #115, #001);
	background-image: -webkit-linear-gradient(right, #001, #115, #001);
	background-image: -moz-linear-gradient(right, #001, #115, #001);
	background-image: -o-linear-gradient(right, #001, #115, #001);
}

#header {
	display: table;
	width: 100%;
	padding: 10px;
	margin: auto;
	height: 100vh;
	vertical-align: middle;
}

.header-title {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: #ddd;
	font-family: Open Sans, sans-serif;
	font-size: 25px;
	text-shadow: 0px 5px 10px black;
}

#side-bar {
	display: inline-block;
	z-index: 100;
	position: fixed;
	max-width: 30%;
	height: 100%;
	background-color: #001;
	background-image: linear-gradient(to bottom, #115, #001);
	float: left;
	overflow-x: hidden;
	overflow-y: auto;
}

#side-bar a {
	display: block;
	text-decoration: none;
	color: white;
	font-size: 20px;
	font-family: Fira Mono, monospace;
	padding: 25px 10px;
	background-color: #335;
	margin: 5px 0px;
	box-shadow: 0px 2px 1px black;
	width: 1000px;
	transition: background-color 0.5s;
}

#side-bar a:hover {
	background-color: #88f;
}

#side-bar-hover {
	position: relative;
	width: 50px;
	height: 50px;
	background-color: white;
	background-image: url('../image/logo.png');
	background-size: cover;
	background-blend-mode: multiply;
}

#main {
	display: block;
	position: relative;
	height: 100%;

	background-color: #335;
	background-image: url('../image/header.jpg');
	background-size: cover;
	background-attachment: fixed;
}

#footer {
	display: block;
	height: 100px;
}

.container {
	display: block;
	margin: 5px 15%;
}

.info {
	margin: 0px;
}
.info h2 {
	font-size: 25px;

	background-color: #fff;
	background-image: linear-gradient(to right, #335, #fff, #335);
	background-image: -webkit-linear-gradient(right, #335, #fff, #335);
	background-image: -moz-linear-gradient(right, #335, #fff, #335);
	background-image: -o-linear-gradient(right, #335, #fff, #335);

	padding: 10px;
	text-align: center;
	color: #444;
	font-family: Open Sans, sans-serif;
	box-shadow: 0px 3px 2px black;
}

.info-mem {
	display: block;
	position: relative;
	padding: 15px;
	margin: 10px 15%;
	background-color: #eee;

	font-family: Source Code Pro, monospace;
	text-align: left;
	color: #222;
}

.info-mem h3 {
	display: block;
	text-align: center;
	color: black;
	font-size: 25px;
}

.info-toggle {
	display: none;
	position: absolute;
	right: 0%;
	top: 0%;
	background-color: #115;
	color: white;
	max-width: 30%;
	padding: 15px;
}

.nganh {
	display: block;
	text-align: right;
	font-family: Open Sans, sans-serif;
	font-weight: bold;
	font-size: 20px;
	margin: 15px;
}

.nienkhoa {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 90px;
	height: 90px;
	border-radius: 100%;
	border: 10px solid #88f;
	background-color: #ddf;
	color: black;
	text-align: center;
	transition: 0.5s;
}


.totnghiep {
	display: block;
	text-align: right;
	padding: 15px;
}

.avatar {
	display: block;
	border-radius: 100%;
	margin: 0px 30%;
	width: 40%;
	background-color: #115;
}

.avatar img {
	width: 100%;
	height: auto;
	border-radius: 100%;
	vertical-align: middle;
}

.social-info {
	display: block;
	width: auto;
	height: 50px;
}
.social-logo {
	display: inline-block;
	height: 50px;
	width: 50px;
	margin: 5px;
	padding: 0px;
	background-color: white;
	background-size: cover;
	background-blend-mode: multiply;

	box-shadow: 0px 5px 10px black;
	border: 1px solid white;
	border-radius: 100%;
	transition: 0.5s;
}
.social-logo:hover {
	width: 60px;
	height: 60px;
	margin-top: -5px;
	margin-left: -5px;
}

.social-fb {
	background-image: url("../image/fb.png");
}
.social-github {
	background-image: url("../image/github.png");
}
.social-linkedIn {
	background-image: url("../image/linkedin.png");
}
