<script>
	const imgList = document.querySelectorAll('.post-content img');

	const imgPopup = document.createElement("div");
	const closeButton = document.createElement("button");
	const imgWrap = document.createElement('div');
	const imgNeedPopup = document.createElement('img');
	imgWrap.appendChild(imgNeedPopup);
	imgPopup.appendChild(closeButton);
	imgPopup.appendChild(imgWrap);
	document.body.appendChild(imgPopup);

	imgPopup.className = 'img-popup';
	imgWrap.className = 'img-popup-img';
	closeButton.className = 'img-popup-close';
	closeButton.textContent = "X";
	closeButton.addEventListener('click', ()=>{
		closeImgPopup();
	});
	imgNeedPopup.src='#';

	if (imgList.length) {
		imgList.forEach(img=>{
			img.addEventListener('click',function(e){
				imgNeedPopup.src = this.src;
				openImgPopup();
			});
		});
	}

	document.addEventListener('keydown', (e)=>{
		if (e.keyCode == 27) {
			closeImgPopup();
		}
	});

	function openImgPopup() {
		imgPopup.classList.add('show');
		
	}

	function closeImgPopup() {
		if (imgPopup.classList.contains('show'))
			imgPopup.classList.remove('show');
	}
</script>