$nav-height : 50px;
@mixin nav-shadow() {
	box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
}

.navbar {
	display: table;
	width: 100%;
	height: $nav-height;
	table-layout: fixed;

	position: sticky;
	position: -webkit-sticky;
	top: 0;
	z-index: 9999;
	@include nav-shadow();
	

	& &-el {
		position: relative;
		display: table-cell;
		text-align: center;

		&:hover, &:active {
			.navbar-sub {
				transition: 0.2s;
				visibility: visible;
				opacity: 1;
			}
		}
	}

	&-el &-sub {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;

		visibility: hidden;
		opacity: 0;

		@include nav-shadow();
	}

	& &-name {
		display: block;
		text-decoration: none;
		font-weight: bold;
		
		width: 100%;
		height: $nav-height;
		line-height: $nav-height;

		transition: 0.3s;

		background: var(--light);
		color: var(--text-dark);

		&:hover, &:active {
			background: var(--dark);
			color: var(--text-light);
		}

		&:visited {
			all: uset;
		}
	}
}

.footer {
	min-height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	
	background: var(--light);
	color: var(--text-dark);

	li {
		list-style: none;
		margin: 1em;
	}

	ul {
		padding: 0;
		width: 300px;
		margin: 1em auto;

		display: flex;
		flex-flow: row;
		justify-content: space-around;
	}

	.social a {
		display: block;
		text-decoration: none;
		color: var(--text-dark);
		font-size: 3em;
		transform-origin: center;
		transition: 0.4s;

		&:hover {
			transform: scale(1.2);
		}
	}

	p, a, div {
		text-align: center;
	}
}