\:root
    --bg-secondary: #888
    --bg-default: #fff
    --text-secondary: #ccc
    --text-default: #000
    --primary: #33f

.theme-dark
    --primary: #ff4500
    --bg-default: #333
    --bg-secondary: #000
    --text-default: #ccc
    --text-secondary: #999