#header {
  width: 100%;
  height: 90vh;
  background-color: #050000;
  color: #ffffff;
  overflow: hidden;
  text-align: center;
}
#header .banner {
  height: 100%;
}
#header .banner img {
  width: 90%;
}
#header .banner-info {
  height: 100%;
  padding: 15px;
}
#header table {
  margin: 0 auto;
}
#header table th,
#header table td {
  padding: auto 15px;
  border-bottom: 1px solid rgba(181, 17, 0, 0.5);
}
#header table th {
  color: #b51100;
  font-size: 1.5em;
  animation-name: sanglen;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}
#header table td {
  color: #bdbdbd;
  font-size: 0.75em;
}
@keyframes sanglen {
  0% {
    color: rgba(181, 17, 0, 0.5);
  }
  100% {
    color: #b51100;
  }
}
