#navbar {
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0 200px;
  background-color: #b51100;
  height: 50px;
}
#navbar #aiesec-logo {
  width: 200px;
  height: 100%;
  display: flex;
  float: left;
}
#navbar #aiesec-logo img {
  width: 100%;
  margin: auto;
}
#main {
  margin-top: 50px;
}
#content .container {
  background-color: #ccc;
}
.menu {
  display: flex;
  width: 100%;
  flex-flow: row;
  justify-content: space-around;
}
.menu a {
  text-decoration: none;
  color: #ddd;
}
.menu-item {
  width: 33.33%;
  height: 50px;
  line-height: 50px;
  margin: auto;
  text-align: center;
  font-weight: bold;
}
.menu-item:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
#footer {
  background-color: #b51100;
  color: #000;
  height: 300px;
}
.logo-quote p {
  color: #aaa;
  margin: 0;
}
.logo-quote .logo-letter {
  font-size: 2em;
  color: #fff;
}
