:root {
	--font: "Segoe UI", sans-serif;
	--pmcolor: #ff5555;
	--secolor: #55558f;
	--failcolor: #888888;
	--ucolor: #8888ff;
}

body {
	background: #fefefe;
	margin: 0;
	font-family: var(--font);
	font-size: 18px;
	height: 100vh;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
}

a {
	text-decoration: underline;
	color: var(--pmcolor);
}

header {
	font-size: 2em;
	text-align: center;
	height: 150px;
	display: flex;
	flex-flow: column;
	justify-content: center;
	color: var(--secolor);
}

.point-count > div {
	display: inline-block;
}
#point {
	font-size: 2em;
	color: var(--pmcolor);
}
#count {
	color: var(--secolor);
}

.divide {
	width: 300px;
	margin: 0 auto;
	border: 1px solid var(--secolor);
}

footer {
	text-align: center;
	height: 150px;
	display: flex;
	justify-content: center;
}
header > *, footer > * {
	margin: auto;
}

.middle {
	text-align: center;
	padding: 1em 0;
}

#question {
	font-size: 2em;
}
#question span {
	padding: 2px 10px;
	border-radius: 5px;
	background: var(--secolor);
	color: #fff;
	font-family: serif;
}

#answer {
	display: flex;
	flex-flow: row;
	justify-content: center;
}

.fail {
	border-color: var(--failcolor);
	background: var(--failcolor);
	color: #fff;
}
.u-correct {
	border-color: var(--ucolor);
	background: var(--ucolor);
	color: #fff;
}
.m-correct {
	border-color: var(--pmcolor);
	background: var(--pmcolor);
	color: #fff;
}

ul {
	-webkit-padding-start: 0;
}
ul li {
	display: inline-block;
	padding: 1em;
	margin: 1em;
	border: 2px solid var(--secolor);
}
.button {
	border-radius: 10px;
	transition: 0.2s;
}
.button:hover {
	color: #fff;
	background: var(--secolor);
	cursor: pointer;
}
.button:active {
	transform: translateY(15px);
}
.block:hover {
	cursor: not-allowed;
	color: inherit;
}

#next {
	padding: 1em;
	margin: auto;
	background: var(--failcolor);
}

.fadeOut {
	transition: 0.5s;
	opacity: 0;
}