$primary-color: #eb6d00;
$secondary-color: #562f7a;
$dark-color: #313131;
$text-on-dark-color: #cdcdcd;
$light-color: #fcfcfc;
$text-on-light-color: #151515;

$animation-time: 300ms;
$animation-cubic-ease: cubic-bezier(.58,.01,.48,1.51);

$mobile-breakpoint: 768px;
