<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>{{ site.title }} | {{ page.title }}</title>
		<link rel="stylesheet" href="/css/monokai.css">
		<link rel="stylesheet" href="/css/post.css">
		{% include fontawesome.html %}

		<script src="/static/jquery/jquery-3.3.1.min.js"></script>
	</head>
	<body>
		{% include menu.html %}
		<div class="post-header">
			<div>
				<div class="post-title">{{page.title}}</div>
				<div class="post-date">{{page.date | date_to_string}}</div>
				<div class="post-author">{{page.author}}</div>
			</div>
		</div>
		<div class="container">
			<div class="post-headimg">
				<img src="{{page.img}}" alt="header">
			</div>
			<div class="post-tag">
				<div>Tags: </div>
				<ul>
					{% for tag in page.tags %}
					<li><a href="/tag?name={{tag}}">{{tag}}</a></li>
					{% endfor %}
				</ul>
			</div>
			<div class="post-content">
				{{ page.content }}
			</div>
		</div>
		{% include footer.html %}
		{% include go_head.html %}
		{% include status-bar.html %}

		<!-- script -->
		{% include zoom_img_script.html %}
		<script src="/script/statusBar.js"></script>
	</body>
</html>