* {
    box-sizing: border-box;
}

.myform {
    width: 60%;
    margin: 0 auto;
    background: #ddd;
    border-radius: 10px;
    text-align: center;
    padding: 1em;
}
input {
    display: block;
    width: 80%;
    text-align: left;
    margin: 1em auto;
    padding: 1em;
}
#send {
    border: none;
    text-align: center;
    background-color: blue;
    color: white;
}
.person {
    width: 60%;
    margin: 0 auto;
}
.name, .age {
    text-align: center;
}
