---
---
<div class="container">
    <div class="d-flex flex-row flex-wrap">
        {% for info in site.infos %}
        <div class="card rounded shadow-lg" style='min-width: 200px; margin: 1em'>
            <div class="card-header">
                <h2 class="card-title">{{info.name}}</h2>
            </div>
            <div class="card-body card-fluent">
            <table class='table-sm table-responsive'>
            {% for field in info.field %}
            <tr>
                <td><strong>{{field | first}}</strong></td>
                <td>{{field | last}}</td>
            </tr>
            {% endfor %}
            </table>
            </div>
        </div>
        {% endfor %}
    </div>
</div>